// COLOUR MANAGER

$primary: #24292e;

$secondary:#0366d6;
$secondary-light:#0366d680;

$accent: #f9826c;
$white: #fff;

$text-color: #586069;
$text-color-light: #e1e4e8;

$btn-secondary-color: #2ea44f;
$btn-primary-color: #fafbfc;


$border-color:#444d56;


// TYPOGRAPHY
$h4: 2.7rem;
$text-sm: 1.3rem;
$text-md: 1.4rem;
$text-lg: 2.1rem;